<div class="row"><h4>Results</h4></div>
<div class="card col-md-6" *ngFor='let recipe of savedRecipes'>
        <div class="row-fluid">
          <a href="{{ recipe.url }}">
            <div class="span4">
                <img class="card-img-top img-responsive" [src]='recipe.image'>
            </div>
          </a>
            <div class="span8">
                <div class="card-body">
                    <h5>{{ recipe.name }}</h5>
                    <button (click)=removeSavedRecipe(this.recipe._id)>Remove</button>
                </div>
            </div>
        </div>
</div>
